.account_container {
  height: 760px;
}

.account_header {
  height: 100px;
}

.account_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
  padding-left: 230px;
  background-color: #e3dfdf;
}

.account_link {
  padding-right: 20px;
  color: rgb(3, 104, 3);
}

.account_link:hover {
  color: orange;
}

.account_link1::before {
  content: "/";
  margin-right: 20px;
}

.my_account {
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.account_heading {
  padding-bottom: 20px;
  color: green;
  font-size: 30px;
  font-style: italic;
}

.account_form {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 570px;
  padding-left: 30px;
  background-color: rgb(152, 250, 152);
}

.account_name {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.account_desc {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.account_register {
  margin-right: 100px;
  color: red;
}
