.whishlist_container {
  min-height: 700px;
}

.whishlist_header {
  height: 100px;
}

.whishlist_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #e3dfdf;
}

.whishlist_link {
  padding-right: 20px;
  color: rgb(3, 104, 3);
  margin-left: 230px;
}

.whishlist_link:hover {
  color: orange;
}

.whishlist_link1::before {
  content: "/";
  margin-right: 20px;
}

.whishlist_heading {
  text-align: center;
  color: green;
  font-style: italic;
  padding-top: 100px;
  font-size: 40px;
}

.whishlist_name {
  color: #045004;
  font-size: 20px;
  line-height: 45px;
  padding-left: 20px;
  border-radius: 4px;
  margin-left: 420px;
  width: 1050px;
  height: 45px;
  background-color: #b8e7b8;
  border: 1px solid #3bd52c;
  margin-top: 100px;
}

.whishlist_cart {
  display: flex;
  align-items: center;
  margin: 15px;
}

.whishlist_content {
  padding-left: 20px;
  font-size: 20px;
  color: green;
}

/* Responsive */
@media (max-width: 739px) {
  .whishlist_title {
    padding: 0;
  }
  .whishlist_link {
    margin-left: 20px;
  }

  .whishlist_heading {
    font-size: 32px;
  }

  .whishlist_name {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile_table {
    max-width: 340px !important;
  }

  .product_title {
    width: 70% !important;
  }

  .mobile_title,
  .mobile_list {
    display: none;
  }
}
