.account_container {
  height: 950px;
}

.account_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #e3dfdf;
  padding-left: 230px;
  margin-bottom: 40px;
}

.account_link {
  padding-right: 20px;
  color: rgb(3, 104, 3);
}

.account_link:hover {
  color: orange;
}

.account_link1::before {
  content: "/";
  margin-right: 20px;
}

.my_account {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.account_heading {
  padding-bottom: 20px;
  color: green;
  font-size: 30px;
  font-style: italic;
}

.account_form {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 750px;
  padding-left: 30px;
  background-color: rgb(152, 250, 152);
}

.account_name {
  font-size: 18px;
  font-weight: 600;
  padding: 30px 0 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.account_desc {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.account_register {
  margin-right: 100px;
  color: red;
}

/* Responsive */
@media (max-width: 739px) {
  .account_title {
    padding: 0;
  }
  .account_link {
    margin-left: 20px;
  }

  .account_form {
    width: 340px;
  }

  .mobile_form {
    width: 285px !important;
  }

  .account_register {
    margin-right: 12px;
  }
}
