.main {
  /* min-height: 3000px; */
}

.header {
  height: 50px;
}

.header_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #e3dfdf;
}

.header_link {
  padding-right: 20px;
  color: rgb(3, 104, 3);
  margin-left: 230px;
}

.header_link:hover {
  color: orange;
}

.header_link1::before {
  content: "/";
  margin-right: 20px;
}

.product_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  margin: 50px 20px;
}

.product_price {
  color: #df5e13;
}

/* Product Details */
.product_containers {
  width: 1650px;
}

/* Responsive */
@media (max-width: 739px) {
  .header_link {
    margin-left: 20px;
  }

  /* Product Details */
  .product_containers {
    width: 340px;
    flex-direction: column;
  }

  .product_row {
    width: 100% !important;
  }

  .mobile_list {
    margin-bottom: 20px !important;
  }

  .mobile_img {
    margin-right: 15px !important;
  }

  .mobile_heading {
    font-size: 28px !important;
  }

  .mobile_button {
    padding: 9px 12px !important;
  }

  .mobile_button1 {
    padding: 10px 5px;
  }

  .mobile_menu {
    width: 340px !important;
    margin-top: 30px;
  }
}
