body {
  font-family: "Roboto", sans-serif;
}

/* Layout Style */
/* .logo {
  font-size: 30px;
  font-weight: bold;
  color: #ddd;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
} */
.logo {
  margin: 16px;
  font-size: 30px;
  font-weight: bold;
  color: #ddd;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
/* End of layout Style */

/* Dashboard */
.site-card-wrapper {
  padding: 30px;
}
/* End of Dashboard */

/* Login Form */
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.form-block {
  padding-top: 200px;
  background-color: #9ae6b4;
  min-height: 100vh;
}

/* Category */
.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}
