
body {
  font-family: "Roboto", sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #ddd;
}

.logo {
  height: 32px;
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider {
  flex: 0 0 300px !important;
  max-width: 300px !important;
  min-width: 300px !important;
  width: 300px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

main {
  overflow-y: scroll;
}

.logo {
  /* background-color; */
  margin: 0;
  height: 70px;
}

.ant-menu-title-content {
  font-size: 20px;
}

/* Login Form */
.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.form-block {
  padding-top: 200px;
  background-color: #9ae6b4;
  min-height: 100vh;
}

/* Category */
.site-card-wrapper {
  padding: 30px;
  background: #ececec;
}
